:root {
    --background: #f6f6f6;
    --foreground: #121814;

    //primary
    --primary: #eb4827;

    // grayscale
    --g0: #ffffff;
    --g10: #fafafb;
    --g20: #f6f6f6;
    --g30: #eceded;
    --g40: #e1e1e2;
    --g50: #c4c5c4;
    --g60: #c5c6c7;
    --g70: #abadae;
    --g80: #9e9fa1;
    --g90: #909293;
    --g100: #828486;
    --g200: #747678;
    --g300: #66696b;
    --g400: #5a5d5f;
    --g500: #4c4f52;
    --g600: #414447;
    --g700: #313437;
    --g800: #232629;
    --g900: #171b1e;
}

$breakpoint-mobile: 768px;
$breakpoint-tablet: 1280px;

@mixin mobile {
    @media (max-width: #{$breakpoint-mobile}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$breakpoint-mobile + 1}) and (max-width: #{$breakpoint-tablet - 1}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$breakpoint-tablet}) {
        @content;
    }
}

body {
    color: var(--g900);
    overflow-x: hidden;
    box-sizing: border-box;

    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.inner-header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 40px;
    @include tablet {
        padding: 0 16px;
    }
    @include mobile {
        padding: 0 16px;
    }
}

.inner-intro {
    width: 100vw;
    padding: 60px 40px;
    @include tablet {
        padding: 60px 16px;
    }
    @include mobile {
        padding: 40px 16px;
    }
}

.inner-common {
    width: 100vw;
    padding: 120px 40px;
    @include tablet {
        padding: 80px 16px;
    }
    @include mobile {
        padding: 60px 2vw;
    }
}
.inner-footer {
    width: 100vw;
    padding: 40px 40px;
    @include tablet {
        padding: 40px 16px;
    }
    @include mobile {
        padding: 40px 16px;
    }
}

.centering {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper {
    overflow: visible;
}

a {
    color: var(--g900);
}

h3 {
    font-size: 24px;
    @include tablet {
        font-size: 16px;
    }
    @include mobile {
        font-size: 16px;
    }
}
